body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(plum, pink);
    height: 752px;
    font-family: 'Ubuntu', sans-serif;
}

.allt{ //hela html i denna div class
    margin: 0 20%;
    padding-top: 5%;
    padding-bottom: 500px;
    background: lighten($color: #dd88ff, $amount: 0);
    color: white;
}

.allt form{ //parent för select, button och choose
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    height: 35px;
    margin: 0;
}

.fylli button{ //parent, button
    height: 20px;
    color: white; 
    background-color: plum;
    font-weight: bold;
    font-size: 20px;
    height: 35px;
}

.listor{ //inkomst utgift och vinst
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    border: 2px purple solid;
    background-color: plum;
    color: white;
    padding: 4px;
    margin-top: -5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

h2{
    border: 2px purple solid;
    background-color: plum;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4px;
}

.inkomst-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
color: lightgreen;
padding: 4px;
font-weight: bold;
font-size: 20px;
text-align: left;
}

.utgift-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
color: rgb(255, 51, 51);
padding: 4px;
font-weight: bold;
font-size: 20px;
text-align: left;

} 

.vinst{ // OM vinst = + så gör grön text, ANNARS OM vinst = - gör röd
    color: pink;  
    padding: 40px;
    font-weight: bold;
    font-size: larger;
    font-size: 30px;
    display: flex;
    justify-content: center;

}

button:hover{
color: purple;
cursor: pointer;
}



